In [63]:
import pickle
with open('train.pkl',"rb") as fr:
    data = pickle.load(fr)
data

,Segment ID,sentiment_x,Temp,EDA,temp+eda,text_tokenize,mfcc_scaled,session,sess_num
0,Sess01_script01_User002M_001,0,"[34.81, 34.81, 34.81, 34.79, 34.79, 34.79, 34....","[2.856493, 2.788578, 2.678377, 2.652749, 2.645...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[8, 5, 7, 276, 35, 2, 13, 723, 22, 280, 13, 84...","[[0.36212430820312924, 0.5950855218071341, 0.6...",Sess01,1
1,Sess01_script01_User002M_002,0,"[34.79, 34.79, 34.79, 34.77, 34.77, 34.77, 34....","[2.647035, 2.653442, 2.631658, 2.614999, 2.623...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[137, 253, 31, 1042, 34, 845, 104, 1166, 979, ...","[[0.09967221317831643, 0.46074755225157077, 0....",Sess01,1
2,Sess01_script01_User002M_003,0,"[34.75, 34.75, 34.75, 34.75, 34.79, 34.79, 34....","[2.896217, 2.975664, 3.02692, 3.071769, 3.0922...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[7, 44, 99, 17, 49, 749, 82, 228, 6, 3, 2976, ...","[[0.5217207684902612, 0.7059450474628848, 0.63...",Sess01,1
3,Sess01_script01_User002M_004,0,"[34.77, 34.77, 34.77, 34.77, 34.77, 34.77, 34....","[3.689019, 3.692863, 3.659546, 3.409672, 3.123...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[99, 93, 35, 61, 262, 1, 723, 2179, 25, 2517, ...","[[0.013638213363584173, 0.4977522798008912, 0....",Sess01,1
4,Sess01_script01_User001F_001,0,"[34.55, 34.55, 34.55, 34.55, 34.55, 34.55, 34....","[4.412055, 4.536246, 4.630991, 4.669401, 4.661...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[15, 79, 16, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.1814917031611868, 0.5011223135638304, 0.14...",Sess01,1
...,...,...,...,...,...,...,...,...,...
12191,Sess39_script06_User077F_030,0,"[28.39, 28.39, 28.41, 28.41, 28.41, 28.41, 28....","[0.230654, 0.229372, 0.234498, 0.235779, 0.233...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[14, 8, 5, 3232, 156, 18, 5543, 107, 20, 2, 99...","[[0.09019999396883238, 0.3652676696305185, 0.4...",Sess39,39
12192,Sess39_script06_User077F_031,0,"[28.39, 28.39, 28.39, 28.39, 28.39, 28.39, 28....","[0.237061, 0.234498, 0.235779, 0.238342, 0.238...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[80, 80, 386, 10, 131, 107, 371, 20, 2, 14786,...","[[0.015582256935751881, 0.576354875568196, 0.7...",Sess39,39
12193,Sess39_script06_User077F_032,0,"[28.39, 28.39, 28.37, 28.37, 28.37, 28.37, 28....","[0.237061, 0.234498, 0.237061, 0.237061, 0.235...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[204, 402, 1, 3170, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.0010828634315697139, 0.5215032886653614, 0...",Sess39,39
12194,Sess39_script06_User077F_033,0,"[28.39, 28.39, 28.37, 28.37, 28.37, 28.37, 28....","[0.239623, 0.233216, 0.238342, 0.237061, 0.238...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[68, 3170, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.0, 0.47204898461158995, 0.8589987646609795...",Sess39,39
12195,Sess39_script06_User077F_034,0,"[28.39, 28.39, 28.37, 28.37, 28.37, 28.37, 28....","[0.238342, 0.237061, 0.240905, 0.240905, 0.237...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[7, 19, 27, 95, 11, 327, 156, 28, 115, 2, 2212...","[[0.04812742822958649, 0.5400174433892021, 0.8...",Sess39,39

In [64]:
# 임의의 8개 세션 미리 추출
import pickle
with open('test.pkl',"rb") as fr:
    data_test = pickle.load(fr)
data_test

,Segment ID,sentiment_x,Temp,EDA,temp+eda,text_tokenize,mfcc_scaled
2230,Sess08_script01_User015F_001,1,"[33.07, 33.09, 33.09, 33.09, 33.09, 33.09, 33....","[3.239397, 3.234272, 3.229146, 3.243241, 3.245...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[8, 72, 14, 166, 733, 26, 21, 37, 733, 50, 16,...","[[0.0, 0.37972227268282244, 0.8198979194967001..."
2231,Sess08_script01_User016F_001,0,"[33.31, 33.31, 33.31, 33.31, 33.31, 33.31, 33....","[4.143951, 4.138826, 4.134982, 4.131138, 4.128...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[8, 488, 926, 50, 85, 3902, 0, 0, 0, 0, 0, 0, ...","[[0.0, 0.5751133741423142, 0.7879647360973706,..."
2232,Sess08_script01_User015F_002,0,"[33.07, 33.07, 33.05, 33.05, 33.05, 33.05, 33....","[3.453379, 3.458504, 3.450816, 3.448254, 3.443...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[14, 11, 2367, 4, 786, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.3555334572333074, 0.6510807576689936, 0.80..."
2233,Sess08_script01_User016F_002,0,"[33.27, 33.27, 33.25, 33.25, 33.25, 33.25, 33....","[4.079888, 4.072201, 4.045294, 4.041451, 4.023...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[87, 251, 28, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.0, 0.5211673046270286, 0.5221022623447374,..."
2234,Sess08_script01_User015F_003,1,"[33.03, 33.03, 33.03, 33.03, 33.03, 33.03, 33....","[3.438003, 3.445691, 3.480287, 3.523852, 3.548...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[3, 139, 1703, 104, 11, 583, 105, 72, 223, 119...","[[0.2308842054093153, 0.785980178750852, 0.827..."
...,...,...,...,...,...,...,...
12688,Sess40_script06_User079F_043,0,"[35.07, 35.07, 35.07, 35.07, 35.05, 35.05, 35....","[1.194537, 1.171473, 1.150971, 1.129189, 1.106...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[96, 11, 65, 42, 258, 14989, 2, 240, 684, 2, 2...","[[0.0, 0.44890249617394556, 0.4151811098070448..."
12689,Sess40_script06_User079F_044,0,"[35.05, 35.05, 35.07, 35.07, 35.07, 35.07, 35....","[0.929301, 0.922894, 0.917769, 0.916488, 0.912...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[3, 504, 494, 3, 4030, 800, 298, 0, 0, 0, 0, 0...","[[0.2285113780573238, 0.779642897290782, 0.457..."
12690,Sess40_script06_User079F_045,0,"[35.05, 35.05, 35.05, 35.05, 35.05, 35.05, 35....","[0.888298, 0.88061, 0.878048, 0.875485, 0.8742...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[14, 65, 58, 14990, 164, 33, 1346, 2438, 11, 2...","[[0.0, 0.3924988321574137, 0.6015662496016466,..."
12691,Sess40_script06_User079F_046,0,"[35.05, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[0.83192, 0.825513, 0.821669, 0.82295, 0.81910...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[307, 20, 1533, 17, 1432, 63, 27, 1, 74, 47, 0...","[[0.0, 0.404710343900125, 0.6941450242437002, ..."
12692,Sess40_script06_User079F_047,0,"[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[0.797324, 0.794761, 0.796043, 0.794761, 0.792...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[94, 20, 628, 12, 6064, 51, 219, 2990, 374, 0,...","[[0.07021882960247872, 0.2635582968035488, 0.6..."

In [3]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow import nn
import pandas as pd
import numpy as np

In [4]:
from imblearn.over_sampling import SMOTE
from scipy.stats import zscore
from sklearn.preprocessing import StandardScaler

## DATA augmentation

In [65]:
data = data[['sentiment_x', 'EDA']]

In [66]:
data.head()

   sentiment_x                                                EDA
0            0  [2.856493, 2.788578, 2.678377, 2.652749, 2.645...
1            0  [2.647035, 2.653442, 2.631658, 2.614999, 2.623...
2            0  [2.896217, 2.975664, 3.02692, 3.071769, 3.0922...
3            0  [3.689019, 3.692863, 3.659546, 3.409672, 3.123...
4            0  [4.412055, 4.536246, 4.630991, 4.669401, 4.661...

In [67]:
list_col = data['EDA']
list_col_array = np.array(list_col.tolist())
EDA_new = pd.DataFrame(list_col_array, columns=[f'col{i+1}' for i in range(list_col_array.shape[1])])

In [68]:
EDA_new

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col71,col72,col73,col74,col75,col76,col77,col78,col79,col80
0,2.856493,2.788578,2.678377,2.652749,2.645061,2.618151,2.606618,2.481040,2.431066,2.385627,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.647035,2.653442,2.631658,2.614999,2.623969,2.472763,2.340778,2.294647,2.427914,2.436884,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.896217,2.975664,3.026920,3.071769,3.092272,3.116619,3.139684,3.130714,3.084584,2.983352,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.689019,3.692863,3.659546,3.409672,3.123918,2.976556,2.906078,2.747573,2.807800,2.768076,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.412055,4.536246,4.630991,4.669401,4.661719,4.654037,4.598982,4.543929,4.510640,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10121,0.230654,0.229372,0.234498,0.235779,0.233216,0.231935,0.233216,0.234498,0.230654,0.230654,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10122,0.237061,0.234498,0.235779,0.238342,0.238342,0.235779,0.234498,0.238342,0.238342,0.235779,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10123,0.237061,0.234498,0.237061,0.237061,0.235779,0.237061,0.237061,0.238342,0.237061,0.233216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10124,0.239623,0.233216,0.238342,0.237061,0.238342,0.235779,0.238342,0.239623,0.240905,0.237061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10125,0.238342,0.237061,0.240905,0.240905,0.237061,0.237061,0.239623,0.239623,0.237061,0.240905,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
EDA_new = EDA_new.round(3)

In [70]:
result = pd.concat([EDA_new, data['sentiment_x']], axis=1)

In [71]:
result

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
0,2.856,2.789,2.678,2.653,2.645,2.618,2.607,2.481,2.431,2.386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.647,2.653,2.632,2.615,2.624,2.473,2.341,2.295,2.428,2.437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.896,2.976,3.027,3.072,3.092,3.117,3.140,3.131,3.085,2.983,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.689,3.693,3.660,3.410,3.124,2.977,2.906,2.748,2.808,2.768,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.412,4.536,4.631,4.669,4.662,4.654,4.599,4.544,4.511,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [72]:
result = result.apply(pd.to_numeric, errors='coerce')
result = result.dropna()

In [73]:
value_counts = result['sentiment_x'].value_counts()
print(value_counts)

0.0    7416
1.0     998
2.0     154
3.0     140
4.0     139
5.0      80
6.0      40
Name: sentiment_x, dtype: int64

In [74]:
result

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
0,2.856,2.789,2.678,2.653,2.645,2.618,2.607,2.481,2.431,2.386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.647,2.653,2.632,2.615,2.624,2.473,2.341,2.295,2.428,2.437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.896,2.976,3.027,3.072,3.092,3.117,3.140,3.131,3.085,2.983,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.689,3.693,3.660,3.410,3.124,2.977,2.906,2.748,2.808,2.768,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.412,4.536,4.631,4.669,4.662,4.654,4.599,4.544,4.511,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10121,0.231,0.229,0.234,0.236,0.233,0.232,0.233,0.234,0.231,0.231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10122,0.237,0.234,0.236,0.238,0.238,0.236,0.234,0.238,0.238,0.236,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10123,0.237,0.234,0.237,0.237,0.236,0.237,0.237,0.238,0.237,0.233,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10124,0.240,0.233,0.238,0.237,0.238,0.236,0.238,0.240,0.241,0.237,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10125,0.238,0.237,0.241,0.241,0.237,0.237,0.240,0.240,0.237,0.241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Train,Valid data set 나누기

In [75]:
n_samples = result.shape[0]
n_group1 = int(n_samples * 0.875)
n_group2 = n_samples - n_group1

group1 = result.sample(n=n_group1)
group2 = result.drop(group1.index).sample(n=n_group2)

In [76]:
print(group1.shape)  
print(group2.shape)

(7846, 81)
(1121, 81)

In [77]:
selected_zero = group1[group1['sentiment_x'].isin([0])]

In [78]:
# rain data set 안에 감정 상태 : 중립
selected_zero

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
2644,31.656,31.633,31.638,31.647,31.638,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9094,0.429,0.432,0.426,0.425,0.432,0.430,0.426,0.428,0.429,0.433,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9336,3.871,3.862,3.847,3.843,3.839,3.834,3.837,3.842,3.847,3.844,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,8.809,8.768,8.709,8.735,8.734,8.704,8.667,8.611,8.258,8.139,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2664,3.941,3.960,3.964,3.964,3.951,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6824,0.557,0.557,0.557,0.556,0.554,0.554,0.555,0.557,0.560,0.561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1050,2.977,2.979,2.973,2.972,2.973,2.991,3.031,3.088,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4765,2.807,2.834,2.840,2.838,2.838,2.835,2.838,2.829,2.826,2.816,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9646,0.301,0.298,0.297,0.297,0.297,0.301,0.300,0.301,0.296,0.300,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4276,0.338,0.336,0.336,0.338,0.340,0.334,0.340,0.337,0.338,0.334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
# Train data set 안에 중립을 제외한 감정
selected_rows = group1[group1['sentiment_x'].isin([1,2,3,4,5,6])]

In [80]:
n_samples = 3500
selected_zero_sample = selected_zero.sample(n=n_samples)

In [81]:
# 중립 감정 3500개 랜덤 추출
selected_zero_sample

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
4311,15.128,15.131,15.139,15.159,15.164,15.167,15.160,15.175,15.153,15.135,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1823,11.270,11.284,11.235,11.259,11.237,11.225,11.230,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
738,11.507,11.647,11.889,12.025,12.164,12.132,12.047,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9558,0.086,0.081,0.082,0.104,0.083,0.084,0.083,0.084,0.081,0.081,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4591,2.146,2.147,2.143,2.137,2.139,2.141,2.135,2.135,2.137,2.133,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,19.831,19.875,19.907,19.918,19.910,19.901,19.905,19.901,19.892,19.887,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9475,0.038,0.042,0.041,0.045,0.041,0.040,0.038,0.037,0.037,0.035,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9974,0.338,0.338,0.333,0.333,0.337,0.337,0.338,0.334,0.334,0.333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3790,6.143,6.125,6.109,6.107,6.091,6.094,6.094,6.075,6.070,6.075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7729,0.306,0.305,0.305,0.306,0.306,0.308,0.304,0.304,0.306,0.308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 중립이 아닌 감정 증강

In [82]:
selected_rows = selected_rows.astype('float64')

In [83]:
X = selected_rows.drop(['sentiment_x'], axis=1).values
y = selected_rows['sentiment_x'].values

In [84]:
smote = SMOTE(sampling_strategy={1:3500,2: 3500, 3: 3500, 4: 3500, 5: 3500, 6: 3500},random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 1 will be larger than the number of samples in the majority class (class #1.0 -> 872)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 2 will be larger than the number of samples in the majority class (class #1.0 -> 872)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 3 will be larger than the number of samples in the majority class (class #1.0 -> 872)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 4 will be larger than the number of samples in the majority class (class #1.0 -> 872)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 5 will be larger than the number of samples in the majority class (class #1.0 -> 872)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 6 will be larger than the number of samples in the majority class (class #1.0 -> 872)
  warnings.warn(

In [85]:
X_resampled

array([[ 0.313     ,  0.31      ,  0.31      , ...,  0.        ,
         0.        ,  0.        ],
       [19.323     , 19.382     , 19.369     , ...,  0.        ,
         0.        ,  0.        ],
       [11.178     , 11.178     , 11.189     , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 1.80311258,  1.81926623,  1.82199206, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.74715462,  1.75939726,  1.75800525, ...,  0.        ,
         0.        ,  0.        ],
       [ 2.07670356,  2.07048581,  2.06957279, ...,  0.        ,
         0.        ,  0.        ]])

In [86]:
y_resampled_df = pd.DataFrame(y_resampled, columns=['sentiment_x'])

In [87]:
df = pd.DataFrame(np.zeros((1, 80)), columns=['col'+str(i) for i in range(1, 81)])

In [88]:
X_resampled_df = pd.DataFrame(X_resampled, columns=df.columns)

In [89]:
X_resampled_df.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col71,col72,col73,col74,col75,col76,col77,col78,col79,col80
0,0.313,0.310,0.310,0.310,0.311,0.308,0.309,0.309,0.310,0.310,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,19.323,19.382,19.369,19.359,19.164,19.126,19.358,19.235,18.938,19.452,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11.178,11.178,11.189,11.195,11.195,11.191,11.174,11.166,11.174,11.174,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10.867,11.167,11.432,11.580,11.733,11.816,11.820,11.697,11.560,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.424,0.428,0.428,0.428,0.421,0.427,0.421,0.423,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
data_augmented = pd.concat([X_resampled_df, y_resampled_df], axis=1)

In [91]:
data_augmented = pd.concat([data_augmented, selected_zero_sample ], axis=0)

In [92]:
data_augmented

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
0,0.313,0.310,0.310,0.310,0.311,0.308,0.309,0.309,0.310,0.310,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,19.323,19.382,19.369,19.359,19.164,19.126,19.358,19.235,18.938,19.452,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,11.178,11.178,11.189,11.195,11.195,11.191,11.174,11.166,11.174,11.174,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
3,10.867,11.167,11.432,11.580,11.733,11.816,11.820,11.697,11.560,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.424,0.428,0.428,0.428,0.421,0.427,0.421,0.423,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,19.831,19.875,19.907,19.918,19.910,19.901,19.905,19.901,19.892,19.887,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9475,0.038,0.042,0.041,0.045,0.041,0.040,0.038,0.037,0.037,0.035,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9974,0.338,0.338,0.333,0.333,0.337,0.337,0.338,0.334,0.334,0.333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3790,6.143,6.125,6.109,6.107,6.091,6.094,6.094,6.075,6.070,6.075,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7729,0.306,0.305,0.305,0.306,0.306,0.308,0.304,0.304,0.306,0.308,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
data_augmented_rounded = data_augmented.round(2)

In [94]:
column_names = [f'col{i}' for i in range(1, 81)]

# 각 로우의 col1부터 col80까지의 값들을 리스트 형식으로 Temp 열에 저장합니다.
data_augmented['EDA'] = data_augmented[column_names].values.tolist()

In [95]:
data_augmented.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x,EDA
0,0.313,0.310,0.310,0.310,0.311,0.308,0.309,0.309,0.310,0.310,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"[0.313, 0.31, 0.31, 0.31, 0.311, 0.308, 0.309,..."
1,19.323,19.382,19.369,19.359,19.164,19.126,19.358,19.235,18.938,19.452,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,"[19.323, 19.382, 19.369, 19.359, 19.164, 19.12..."
2,11.178,11.178,11.189,11.195,11.195,11.191,11.174,11.166,11.174,11.174,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,"[11.178, 11.178, 11.189, 11.195, 11.195, 11.19..."
3,10.867,11.167,11.432,11.580,11.733,11.816,11.820,11.697,11.560,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"[10.867, 11.167, 11.432, 11.58, 11.733, 11.816..."
4,0.424,0.428,0.428,0.428,0.421,0.427,0.421,0.423,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,"[0.424, 0.428, 0.428, 0.428, 0.421, 0.427, 0.4..."

In [96]:
data = data_augmented[['sentiment_x','EDA']]
data

      sentiment_x                                                EDA
0             1.0  [0.313, 0.31, 0.31, 0.31, 0.311, 0.308, 0.309,...
1             2.0  [19.323, 19.382, 19.369, 19.359, 19.164, 19.12...
2             4.0  [11.178, 11.178, 11.189, 11.195, 11.195, 11.19...
3             1.0  [10.867, 11.167, 11.432, 11.58, 11.733, 11.816...
4             2.0  [0.424, 0.428, 0.428, 0.428, 0.421, 0.427, 0.4...
...           ...                                                ...
2835          0.0  [19.831, 19.875, 19.907, 19.918, 19.91, 19.901...
9475          0.0  [0.038, 0.042, 0.041, 0.045, 0.041, 0.04, 0.03...
9974          0.0  [0.338, 0.338, 0.333, 0.333, 0.337, 0.337, 0.3...
3790          0.0  [6.143, 6.125, 6.109, 6.107, 6.091, 6.094, 6.0...
7729          0.0  [0.306, 0.305, 0.305, 0.306, 0.306, 0.308, 0.3...

[24500 rows x 2 columns]

In [97]:
x_train = data['EDA']
y_train = data['sentiment_x']

## Valid data

In [98]:
group2

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
8426,0.952,0.982,1.005,1.032,1.055,1.075,1.087,1.095,1.095,1.096,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
813,16.597,16.660,16.632,16.559,16.458,16.349,16.283,16.277,16.305,16.315,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661,22.178,22.073,22.380,22.497,22.621,22.691,22.742,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
2637,33.152,33.103,33.144,33.216,33.180,33.283,33.306,33.287,33.324,33.330,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5872,3.334,3.364,3.394,3.469,3.587,3.719,3.835,3.924,3.956,3.955,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,9.381,9.350,9.324,9.300,9.319,9.295,9.281,9.260,9.247,9.242,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1738,9.289,9.245,9.217,9.194,0.000,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6065,0.133,0.133,0.127,0.128,0.126,0.129,0.129,0.129,0.124,0.127,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
3440,1.454,1.451,1.454,1.447,1.451,1.448,1.450,1.448,1.447,1.441,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3298,1.882,1.878,1.873,1.865,1.857,1.846,1.839,1.836,1.830,1.834,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
column_name = [f'col{i}' for i in range(1, 81)]

# 각 로우의 col1부터 col80까지의 값들을 리스트 형식으로 Temp 열에 저장합니다.
group2['EDA'] = group2[column_names].values.tolist()

In [100]:
group2 = group2[['sentiment_x','EDA']]

In [101]:
x_valid = group2['EDA']
x_valid

8426    [0.952, 0.982, 1.005, 1.032, 1.055, 1.075, 1.0...
813     [16.597, 16.66, 16.632, 16.559, 16.458, 16.349...
661     [22.178, 22.073, 22.38, 22.497, 22.621, 22.691...
2637    [33.152, 33.103, 33.144, 33.216, 33.18, 33.283...
5872    [3.334, 3.364, 3.394, 3.469, 3.587, 3.719, 3.8...
                              ...
834     [9.381, 9.35, 9.324, 9.3, 9.319, 9.295, 9.281,...
1738    [9.289, 9.245, 9.217, 9.194, 0.0, 0.0, 0.0, 0....
6065    [0.133, 0.133, 0.127, 0.128, 0.126, 0.129, 0.1...
3440    [1.454, 1.451, 1.454, 1.447, 1.451, 1.448, 1.4...
3298    [1.882, 1.878, 1.873, 1.865, 1.857, 1.846, 1.8...
Name: EDA, Length: 1121, dtype: object

In [102]:
y_valid = group2['sentiment_x']

In [103]:
test = data_test[['EDA','sentiment_x']]
x_test = test['EDA']
y_test = test['sentiment_x']

In [104]:
print(x_train.shape, x_valid.shape, y_train.shape, y_valid.shape)
print(x_test.shape,y_test.shape)

(24500,) (1121,) (24500,) (1121,)
(2567,) (2567,)

In [105]:
import pickle

In [106]:
with open('EDA_x_train.pkl', 'wb') as f:
    pickle.dump(x_train, f)

with open('EDA_y_train.pkl', 'wb') as f:
    pickle.dump(y_train, f)

with open('EDA_x_valid.pkl', 'wb') as f:
    pickle.dump(x_valid, f)

with open('EDA_y_valid.pkl', 'wb') as f:
    pickle.dump(y_valid, f)

with open('EDA_x_test.pkl', 'wb') as f:
    pickle.dump(x_test, f)

with open('EDA_y_test.pkl', 'wb') as f:
    pickle.dump(y_test, f)